.footer-inicio {
    color: #FFF89A;
    font-size: 0.7rem;
    height: 6rem;
        .div1{
            h2 {
            font-size: 0.8rem;
            text-align: center;
            margin: 0.3rem auto;   
            }
            .servicios { 
                font-size: 0.7rem;
                margin: 0.2rem auto;
                ul{
                    display: flex;
                    justify-content: center; 
                    li {
                        list-style-type: none;
                        margin: 0.1rem 1rem auto;      
                    }   
                }     
            }
        }
        .div2{
            font-size: 0.75rem;
            margin: 0.2rem auto;
            ul{
                display: flex;
                justify-content: center;
            }
            li{
                list-style-type: none;
                margin: 0.1rem 0.5rem auto; 
            }  
        }
        .div3{
            text-align: center;
            margin: 0.5rem auto;
            h3 {
                font-size: 0.6rem;
            }
        }
         
    }
    .div4{
        .ubicacion{
            display: none;
        }  
    } 

